.Rules {
	flex-grow: 1;
	padding: 40px 60px !important;
	overflow-x: hidden;
	overflow-y: scroll;

    .Rules__Header, .Rules__Description {
        text-align: center;
        font-size: 24px;
        color: white;
		user-select: none;
    }

    .Rules__Description {
		width: 1000px;
        margin: 20px auto 0;
        font-size: 18px;
    }

    .Rules__DividerTop {
        margin: 100px 100px 0;
        background: white;
    }

    .Rules__DividerBottom {
        margin: 0 100px 100px;
        background: white;
    }

    .Rules__RmCellDescription {
        margin-top: 50px;
        font-size: 18px;
        text-align: center;
        color: white;
		user-select: none;
    }

	.Rules__Accordion {
		width: 1000px;
		margin: 50px auto 0 !important;
		padding: 5px 20px;
		border: 1px solid white;
		border-radius: 10px !important;
		background: rgba(255, 255, 255, 0.1);

		.Rules__AccordionHeader {
            margin: auto;
            font-size: 20px;
			color: white;
		}

		.Rules__AccordionExpandIcon {
			fill: white;
		}

        .Rules__InputContainer {
            margin: 40px 40px 0;
            color: white;

            &:first-of-type {
                margin-top: 20px;
            }

            .Rules__InputDescription {
                font-size: 18px;
                user-select: none;
            }

            .Rules__Select {
                margin: 10px 30px 0;
                width: 300px;
                color: white;
                border-bottom: 1px solid white;
            }

            .Rules__ErrorMessage {
                margin-left: 44px;
                color: #f7b0b9;
            }
    
            .Rules__RadioGroup {
                margin: 15px 30px 0;
                user-select: none;
    
                .Rules__RadioLabel {
                    margin-right: 60px;
    
                    .Rules__Radio {
                        color: white;
                    }
                }
            }

            .Rules__InputTable {
                width: 200px;
                margin: 20px 30px 0;
                font-size: 10px !important;
            }

            .Rules__InputRadioDash {
                display: inline-block;
                margin-top: 15px;
                font-size: 30px;
                user-select: none;
            }

            .Rules__InputRegexpContainer {
                display: flex;
                margin-top: 20px;
                height: 65px;

                .Rules__InputRegexpSlash {
                    margin-right: 20px;
                    font-size: 25px;
                    font-weight: 100;
                    user-select: none;
                }

                .Rules__Input {
                    width: 350px;
                    margin-right: 20px;
                    font-size: 10px !important;
                }

                .Rules__CheckboxLabel {
                    margin-top: -23px;
                }
            }
        }

        .Rules__InputContainer-size1 {
            height: 110px;
        }

        .Rules__InputContainer-size2 {
            height: 170px;
        }

		.Rules__SaveRuleButton {
			display: block;
			width: 180px;
			height: 50px;
			margin: 40px auto 10px;
			border: 1px solid white !important;
			border-radius: 25px;
			color: white;
        }
	}

    .Rules_rmCellRuleList {
        width: 1300px;
        margin: 50px auto;
        color: white;
        fill: white;
        user-select: none;

        .Rules_rmCellRuleListItem {
            height: 85px;
            padding: 26px 0 26px 50px;
            border-bottom: 1px solid white;

            &:last-of-type {
                border-bottom: none;
            }
            
            &:hover {
                background: rgba(25, 118, 210, 0.04);
                
                .Rules__SelectIcon, .Rules__RemoveButton {
                    display: inline-block;
                }
            }

            .Rules__rmCellRuleSpan {
                display: inline;
                color: #f7d8b0;
            }

            .Rules__SelectIcon {
                display: none;
                width: 12px;
                height: 12px;
                fill: white;

            }

            .Rules__RemoveButton {
                display: none;
                width: 36px;
                height: 36px;
                margin-right: 20px;
                border: 1px solid white;
                transition: .3s;

                &:hover {
                    border: 1px solid #f7b0b9;

                    .Rules__RemoveIcon {
                        fill: #f7b0b9;
                    }
                }

                .Rules__RemoveIcon {
                    fill: white;
                }
            }
        }
    }
}