.Rules {
	flex-grow: 1;
	padding: 40px 60px !important;
	overflow-x: hidden;
	overflow-y: scroll;

    .Rules__Header, .Rules__Description {
        text-align: center;
        font-size: 24px;
        color: white;
		user-select: none;
    }

    .Rules__Description {
		width: 1000px;
        margin: 20px auto 0;
        font-size: 18px;
    }

    .Rules__DividerTop {
        margin: 100px 100px 0;
        background: white;
    }

    .Rules__DividerMiddle {
        background: white;
    }

    .Rules__DividerBottom {
        margin: 0 100px 100px;
        background: white;
    }
}